<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>Tech Blog</title>
</head>

<body>
  <!-- Header Card  -->
  <header class="card border-0">
    <div class="card-body header-card">
      <h1>Tech Blog</h1>
      <div id="nav-btns">
        <button id="home" type="submit d-flex flex-row-reverse" class="btn">Home</button>
        <button id="login" type="submit d-flex flex-row-reverse" class="btn">Log In</button>
        <button id="signup" type="submit d-flex flex-row-reverse" class="btn">Sign Up</button>
        <button id="dashboard" type="submit d-flex flex-row-reverse" class="btn">Dashboard</button>
        {{#if user}}
        <button id="logout" type="submit d-flex flex-row-reverse" class="btn">Log Out</button>
        {{/if}}
      </div>
    </div>
  </header>

  <!-- Main Card  -->
  <main class="card main-card border-0 rounded-0">
    <!-- Handlebars renders the sub layout -->
    {{{body}}}
  </main>

  <!-- Footer Card  -->
  <footer class="card border-0">
    <div class="card-body footer-card">
      <h6 class="footer-title">Tech Blog built by </p>
        <p><a href="https://github.com/Virgona" class="text-secondary">Tobias</a></p>
        &copy; 2022
    </div>
  </footer>

  </div>

  <!-- Renders script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
  </script>
<script src="https://unpkg.com/@lyket/widget@latest/dist/lyket.js?apiKey=[pt_a4dee177920383db61f338590d0a6f]">
</script>
<script src="./js/main.js"></script>

</html>