<!-- Card contains all the signup form elements  -->
<div class="card-body col-12 container-sm border-0">
  <h2>Sign up!</h2>

  <!-- Email input -->
  <form class="form signup-form">
    <div class="form-group form-row">
      <div class="col-3">
        <input type="email" class="form-control" id="email-signup" placeholder="Email: email@email.com"
          aria-describedby="emailInput">
      </div>

      <!-- Username input -->
      <div class="col-3">
        <input type="text" class="form-control" id="name-signup" placeholder="Username: LinkinParkRulz"
          aria-describedby="usernameInput">
      </div>
    </div>

    <!-- Password input -->
    <div class="form-group row">
      <div class="col-6">
        <input type="password" id="password-signup" class="form-control" placeholder="Password: 1tssecr3t57+!"
          aria-describedby="passwordHelpInline">
        <small id="passwordHelpInline" class="text-muted">
          Must be 10-20 characters long, and contain a special character
        </small>
        <p id="password-strength-result">
        </p>
      </div>

      <!-- Sign me up button -->
      <div class="col-6" id="sign-me-up-btn">
        <button class="btn btn-md btn-block" type="submit">Sign me up!</button>
      </div>
    </div>

  </form>
</div>

<script src="https://unpkg.com/check-password-strength/dist/umd.js"></script>
<script src="./js/signup.js"></script>