/* Application theme colours */
:root {
  --mainthemecolor: #444545;
  --secondarythemecolor: #5e7082;
  --textcolor: #b7b8b8;
  --alternatewarmcolor: #e6d4b1;
  --alternatedarkcolor: #6a544d;
}

body {
  overflow-x: hidden;
  height: 100%;
}

/* Defines all header styling */
h1,
h2,
h3,
h4,
h6 {
  color: var(--textcolor);
  font-weight: bold;
  text-align: center;
  padding-top: 0.5rem;
}

/* h5 defined differenly for rendered posts */
h5 {
  color: var(--textcolor);
}

/* Defines all paragraph styling in a different colour */
p {
  color: var(--secondarythemecolor);
}

/* Header card styling */
.header-card {
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: var(--mainthemecolor);
}

/* Main card styling */
.main-card {
  background-color: var(--mainthemecolor);
  color: var(--textcolour);
  margin: 0;
}

/* Footer card styling */
.footer-card {
  background-color: var(--mainthemecolor);
  height: 50%;
  margin-bottom: 0;
  color: var(--textcolor);
  font-weight: bold;
  text-align: center;
}

/* Form group styling
 for login, signup and feed page */
.form-group {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1.5rem;
  width: 100%;
}

/* Placeholder text styling */
:placeholder-shown {
  text-align: center;
}

/* Button styling */
.btn {
  color: var(--alternatewarmcolor);
  justify-content: center;
  align-items: center;
  background-color: var(--secondarythemecolor);
  border-radius: 5rem;
  align-self: center;
  margin-top: 0%;
}

#nav-btns {
  display: flex;
  margin-left: 10px;
}
#logout{
  
}

/* Increase of margin for sign up line
 on homepage */
#signup-redirect {
  margin-top: 3.5rem;
}

/* Increase of margin for sign up btn
 on signup page */
#sign-me-up-btn {
  margin: 0.2rem;
}

#create-post-btn {
  margin-top: 1.5rem;
}

/* Password strength checker styling */
#password-strength-result {
  font-weight: bold;
  font-size: medium;
  color: #fff;
}

/* Further card styling */
.login-form,
.feed-title,
#existing-posts,
.existing-comments {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
